#header {
    color: white;
    background-color: #002f6c;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-style: italic;
    font-variant: normal;
    line-height: 80px;
    text-align: center;
    margin: 0px;
    /* transition: 0.3s; */
    /* padding-top: 0px; */
    /* padding-bottom: 10px; */
    /* position: fixed; */
    width: 100%;
}

#headerDiv {
    position: fixed;
    top: 0;
}

#motto {
    color: #002f6c;
    background-color: transparent;
    text-align: center;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
    /* padding-top: 100px; */
    line-height: 5px;
    text-align: center;
    transition: 0.3s;
    /* padding-top: 0px; */
    /* padding-bottom: 10px; */
    /* position: fixed; */
    width: 100%;
    /* margin: 15px; */
}

#mainList {
    /* align-content: center; */
    /* width: 60%; */
    display: inline-block;
}

.navBar {
    display: flex;
    justify-content: center;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: inline-block;
    width: 40%;
    padding-left: 30%;
    /* margin-bottom: 100px; */
}

#oppListItem {
    /* margin: 50px; */
}

#fortyCard {
    list-style-type: none;
    display: inline-block;
    width: 40%;
    padding-left: 30%;
}

#loggedIn {
    display: flex;
    justify-content: center;
}

#submitEditCard {
    /* width: 200px;
    margin-left: 0 auto;
    border: 2px; */
    width: 400px;
    margin: auto;
}

#submitEditForm {
    column-count: 2;

}

#loginCard {
    /* width: 217px;
    padding-left: 42%; */
    /* list-style-type: none; */
    /* display: inline-block; */
    width: 236px;
    /* padding-left: 35%; */
    margin: 0 auto;
}

#formContent {
    /* justify-content: center; */
    /* padding-left: 25%; */
}

#newlyAddedList {
    position: fixed;
    right: 1%;
    top: 135px;
    width: 200px;
    border: solid lightgray 1px;
    margin-right: 3%;
}

footer {
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.oppCard {
    margin-bottom: 10px;
}

#editSubmitButton {
    margin-top: 10px;
    margin-right: 10px;
    left: 27%;
    
}

#Button {
    margin-top: 10px;
    margin-right: 10px;
}

#centerHeadline {
    text-align: center;
}

#leftPic {
    height: 800px;
    margin-left: -500px;
    /* -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
    -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,128,128,.5) 40%, rgba(255,255,255,0) 65%);
    margin-top: -250px;
    position: fixed;
}

/* .alert {
    background-color: #ff4545;
    margin: 50px;
} */

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

/* input {
    margin: 5px;
    margin-bottom: 10px;
} */

/* .log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
} */

/* .log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
} */
