#header {
    color: white;
    background-color: #002f6c;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-style: italic;
    font-variant: normal;
    line-height: 80px;
    text-align: center;
    margin: 0px;
    /* transition: 0.3s; */
    /* padding-top: 0px; */
    /* padding-bottom: 10px; */
    /* position: fixed; */
    width: 100%;
}

#motto {
    color: #002f6c;
    background-color: transparent;
    text-align: center;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
    /* padding-top: 100px; */
    line-height: 5px;
    text-align: center;
    transition: 0.3s;
    /* padding-top: 0px; */
    /* padding-bottom: 10px; */
    /* position: fixed; */
    width: 100%;
    /* margin: 15px; */
}

#mainList {
    /* align-content: center; */
    /* width: 60%; */
    display: inline-block;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: inline-block;
    width: 50%;
    padding-left: 20%;
    /* margin-bottom: 100px; */
}

#oppListItem {
    margin: 50px;
}

/* #newItemList {
    padding: 0px;
} */

#submitEdit {
    width: 16%;
    padding-left: 42%;
}

#newlyAddedList {
    float: right;
    /* position: fixed; */
    width: 20%;
}

/* .alert {
    background-color: #ff4545;
    margin: 50px;
} */

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

/* input {
    margin: 5px;
    margin-bottom: 10px;
} */

/* .log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
} */

/* .log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
} */
